/* MAYBE USING ROBOTO NORMAL INSTEAD?? */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/* GENERAL */
html {
    height: 100vh !important;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000 !important;
    color: #9D86E9 !important;
}

/* Fa que no es printegi el feed al generar la img */
/* #app {
    min-height: 100%;
} */

.specialTS {
    text-shadow: 0.05em 0.055em 0px #EDC988;
}

.link {
    color: inherit;
    text-decoration: inherit;
}
.link:hover {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    font-style: italic;
}

/* HOME */
#home {
    height: 100vh;
    font-family: 'Rubik Mono One', sans-serif;
}
    #home .title {
        font-size: 5vw;
        font-weight: bold;
        text-shadow: 0.05em 0.055em 0px #EDC988;
    }
    #home .subtitle {
        font-size: 2vw;
    }

    #home span.subtitle {
        width: 50%;
        font-size: 1.5vw;
    }
    #home button.homeBtn {
        width: 61%;
        height: 2em;
        border: none;
        border-radius: 10px;
        background-color: #7149c0 !important;
        color: #EDC988 !important;
    }
        #home button.homeBtn:hover {
            text-shadow: 0.05em 0.055em 0px #9D86E9;
        }
        #home button.homeBtn:focus {
            outline: none;
        }
    #home p {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    #home .tokenInput {
        width: 40%;
    }
        #home .tokenInput input {
            background-color: #000 !important;
            color: #EDC988;
            border: 1px solid #9D86E9;
        }
        #home .tokenInput button {
            background-color: #9D86E9 !important;
            color:#000;
        }

#main {
    /* box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.50); */
    background-color: #000000 !important;
    width: 400px;
    margin-top: 5em;
    /* min-height: 600px; */
    margin-bottom: 3em;
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    #body {
        background-color: #000000 !important;
    }
    /* HOME */
    #home > div {
        height: 100vh;
        justify-content: center;
    }
        #home .title {
            font-size: 7vw;
        }
        #home .subtitle {
            font-size: 5vw;
        }
        #home span.subtitle {
            width: 100%;
            font-size: 3.3vw;
        }
        #home button.homeBtn {
            width: 85%;
        }
        #home .tokenInput {
            width: 75%;
        }
        #home .mblSize {
            font-size: 2.7vw;
        }
}